@model List<CategoriaVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/frmp_index.css" />
</head>
<div class="form-container">
    <div class="tittle"><h1>Consulta de Categoría</h1></div>
    <div class="buscar-container">
        <form class="buscar-form-nombre" asp-action="BuscarNombre" method="get">
            <input type="submit" value="Buscar Nombre" class="btn btn-success" />
        </form>
    </div>
    <form asp-action="Insertar" method="get">

        <div class="form-group">
            <input type="submit" value="Agregar" class="btn btn-success" />
        </div>
        @if (Model.Count > 0)
        {
            <div class="table-container">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Nombre</td>
                                <td>@item.Descripcion</td>
                                <td>
                                    <a href="@Url.Action("Editar", "Categoria", new { CategoriaId = item.Id })" class="btn btn-info btn-icon"><img src='~/img/ic_editar.png' alt='Editar' class='iceditar'></a>
                                    <a href="@Url.Action("Eliminar", "Categoria", new { CategoriaId = item.Id })" class="btn btn-info btn-icon"><img src='~/img/ic_eliminar.png' alt='Editar' class='iceditar'></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
        }
    </form>
</div>
<!--MODAL-->
<div class="modal" id="mensajeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @TempData["mensaje"]
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            var mensaje = '@TempData["mensaje"]';
            if (mensaje !== "") {
                $("#mensajeModal").modal("show");
                setTimeout(function () {
                    $("#mensajeModal").modal("hide");
                }, 3000);
            }
        });
    </script>
}

