@model List<InventarioVm>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/frmp_index.css" />
</head>
<div class="form-container">
    <div class="tittle"><h1>Consulta de Inventario</h1></div>
    <div class="buscar-container">
        <form class="buscar-form-nombre" asp-action="BuscarInventario" method="get">
            <input type="submit" value="Buscar Producto" class="btn btn-success" />
        </form>
    </div>
    <form asp-action="Insertar" method="get">
        <div class="form-group">
            <input type="submit" value="Agregar" class="btn btn-success" />
        </div>
        @if (Model.Count > 0)
        {
            <div class="table-container">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Stock Actual</th>
                            <th>Stock Mínimo</th>
                            <th>Stock Máximo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Producto.Nombre</td>
                                <td>@item.StockActual</td>
                                <td>@item.StockMinimo</td>
                                <td>@item.StockMaximo</td>
                            
                                <td>
                                    <a href="@Url.Action("Editar", "Inventario", new { InventarioId = item.Id })" class="btn btn-info btn-icon"><img src='~/img/ic_editar.png' alt='Editar' class='iceditar'></a>
                                    <a href="@Url.Action("Eliminar", "Inventario", new { InventarioId = item.Id })" class="btn btn-info btn-icon"><img src='~/img/ic_eliminar.png' alt='Eliminar' class='iceliminar'></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
        }
    </form>
</div>
<!--MODAL-->
<div class="modal" id="mensajeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @TempData["mensaje"]
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            var mensaje = '@TempData["mensaje"]';
            if (mensaje !== "") {
                $("#mensajeModal").modal("show");
                setTimeout(function () {
                    $("#mensajeModal").modal("hide");
                }, 3000);
            }
        });
    </script>
}
